/*.site-my-body {
    background-color: #d6d6d6;
}
*/

.author-date{
    text-align: center;
}
/*
.my-content pre{
    display: block;
font-family: monospace;
white-space: pre;
margin: 1em 0px;
background-color: #FFF;
}
*/
