{% extends "base.html" %}


{% block title %}{{ context['content']['chatpter_name'] }}{% end %}


{% block content %}
<div class="container">

      <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" style="text-align:center">{{ context['content']['chatpter_name'] }}</h3>
            </div>
            <div class="panel-body">
                {% for i in context['content']['content'] %}
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ context['content']['content'][i] }}</p>
                {% end %}

            </div>
        </div><!--panel panel-default-->
</div><!--container-->
{% end %}
