{% extends "base.html" %}


{% block title %}金庸小说{% end %}


{% block content %}
    <div class="container">
        <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">这是首页</h3>
              </div>
              <div class="panel-body">
                <p>作者简介:</p>
              </div>
          </div><!--panel panel-default-->
          <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">作品列表</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        {% for a in context %}
                            <li><a href="/{{a}}">{{ context[a]['book_name'] }}</a></li>
                        {% end %}
                    </ul>

                </div>
            </div><!--panel panel-default-->
    </div><!--container-->

{% end %}
